@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  /* Gradiente de arriba hacia abajo */
  background: linear-gradient(to bottom, #e7e7e7, #a5a3a2); /* De blanco a naranja */
}

button {
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-in-out;
}

/* Tooltip visible en móvil al tocar */
@media (max-width: 768px) {
  .group:active .group-hover\:block {
    display: block !important;
  }
}










