@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  /* Gradiente de arriba hacia abajo */
  background: linear-gradient(to bottom, #ffffff, #f97316); /* De blanco a naranja */
}

button {
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-in-out;
}










